.gutter-top {
    padding-top: 20px;
}

.bg {
    background-image: url(../../../assets/two-woman-chatting-1311518.jpg) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px;
}

.jumbotron{
    background-image: url('../../../assets/two-woman-chatting-1311518.jpg');
    background-size: cover;
    padding-top: 2%;
  }

  .jumbotron-fluid {
    
    position: relative;
    
    display: flex;
    align-items: center;
} 

.e-card-actions {
    vertical-align: middle;
}



mat-card-content {
    vertical-align: middle;
}

