<div class="jumbotron" >
   
        <div class="row gutter-top">
            <div class="col-lg-4 col-sm-12 col-xs-12 col-xl-3 col-md-4">
                <div class="card" >
                    <div class="card-body">
                      <h5 class="card-title">India Openings</h5>
                      <p class="card-text">Log In to see the India Openings</p>
                      <button class="btn btn-primary" (click)="Login('in')">Log In</button>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12 col-xl-3 col-md-4">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">Global Openings</h5>
                    <p class="card-text">Log In to see the Global Openings</p>
                    <button class="btn btn-primary" (click)="Login('gl')">Log In</button>
                  </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12 col-xl-3 col-md-4">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">New Openings</h5>
                    <p class="card-text">Log In to see the New Openings</p>
                    <button class="btn btn-primary" (click)="Login('new')">Log In</button>
                  </div>
                  </div>
            </div>
        </div>
 
   
    
  </div>


  