<div class="jumbotron" style="height: calc(95vh);">
 
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Openings</h5>
    <ejs-grid [dataSource]='openings'>
      <e-columns>
          <e-column field='jobid' headerText='Job Opening ID' textAlign='Right' ></e-column>
          <e-column field='jobtitle' headerText='Job Title' ></e-column>
          <e-column field='assaignedTo' textAlign='Assaigned Recruiter(s)' ></e-column>
          <e-column field='targetdate' headerText='Target Date'></e-column>
          <e-column field='status' headerText='Job Opening Status'></e-column>
          <e-column field='city' headerText='City'></e-column>
          <e-column field='client' headerText='Client Name'></e-column>
          <e-column field='contactName' headerText='Contact Name'></e-column>
          <e-column field='accountManager' headerText='Account Manager'></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
  
</div>
