<div class="wrapper fadeInDown">
  <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/user.png" id="icon" alt="User Icon" style="width: 50px;height: 50px;" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="formGroup" (ngSubmit)="onLogin()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter User Name" formControlName="username">
        <div class="alert alert-danger" *ngIf="submitted && formGroup.controls.username.errors">
          <div *ngIf="formGroup.controls.username.errors.required">
            Please enter user name
          </div>
          <div *ngIf="formGroup.controls.username.errors.email">
            Please enter valid email
          </div>
        </div>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Enter Password" formControlName = "password">
        <div class="alert alert-danger" *ngIf="submitted && formGroup.controls.password.errors">
          <div *ngIf="formGroup.controls.password.errors.required">
            Please enter password          </div>
         
        </div>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <a class="underlineHover" href="#">Forgot Password?</a>
  
    </div>
  </div>