<div class="row padding-top" >
    <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 col-xlg-3" *ngFor="let i of data">
        <div [class] = "i.style">                   
            <div class="e-card-header">          
                <div class="e-card-header-caption">   
                    <div class="e-card-header-title">
                        <h3>{{ i.Key }}</h3>
                        <div class="e-card-content"> 
                            <h3>{{ i.Value }}</h3>    
                        </div> 
                    </div>   
                </div>
                        
            </div>
        </div>
        <br/>
    </div>
   
</div>

<app-user-logs></app-user-logs>
