<div class="jumbotron" style="height: calc(95vh);">
  <div class = "e-card">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-header-title">
              Openings
            </div>
        </div>
        <div class="e-card-content">
            <ejs-grid #grid [dataSource]='users' [toolbar]='toolbar' 
            [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)'>
              
              <e-columns>
                <e-column width="60" >
                  <ng-template #template  let-data>
                    <img src="../../../assets/edit-black-18dp.svg" (click)="edit(data)">
                </ng-template>
                </e-column>
                  <e-column field='firstName' headerText='First Name' ></e-column>
                  <e-column field='middleName' headerText='Middle Name' ></e-column>
                  <e-column field='lastName' headerText='Last Name' ></e-column>
                  <e-column field='userid' headerText='User Id'></e-column>
                  <e-column field='email' headerText='Email'></e-column>
                  <e-column field='role' headerText='Role'></e-column>
                  <e-column field='countryName' headerText='Country'></e-column>
                  <e-column field='active' headerText='Active'>
                    <ng-template #template  let-data>
                     <input type="checkbox" disabled checked *ngIf="data.active">
                     <input type="checkbox"  disabled *ngIf="!data.active">
                  </ng-template>
                  </e-column>
              </e-columns>
            </ejs-grid>
        </div>
    </div>
  </div>

  </div>