<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a  href="#"><img style="height: 50px;" src="../../../../assets/tecqubepngfinal.png"></a>
    <h3 class="navbar-brand">QubeSmart</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn() ">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn()">
          <a class="nav-link" routerLink="/jobopenings" routerLinkActive="active">Job Openings</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isUserLoggedIn() && getLoginType() == 'Super Admin' ">
          <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>      
          <div class=" dropdown dropdown-menu">
            <a class="dropdown-item menu-item" routerLink="/users" routerLinkActive="active">Users</a>
            
              <div class="dropdown-divider"></div>
              <a class="dropdown-item menu-item" routerLink="/master" routerLinkActive="active">Master Data</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item menu-item" routerLink="/country" routerLinkActive="active">Country</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item menu-item" routerLink="/state" routerLinkActive="active">State</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item menu-item" routerLink="/city" routerLinkActive="active">City</a>
          </div>
      </li> 
        

        

        
       
  
      </ul>
      <div class="float-right text-white" *ngIf="isUserLoggedIn()">
        <b>Welcome {{ getFullName() }} <button class="btn btn-link text-white" (click)="logout()"> (signout)</button></b>  
      </div>
      <div class="float-right text-white" *ngIf="!isUserLoggedIn()">
        <button class="btn btn-link text-white" (click)="login('all')"> Login</button>  
      </div>
    </div>
    
  </nav>
  